<div>
  <button
    [routerLink]="['/']"
    [routerLinkActive]="'active-route'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Page A
  </button>
  <button
    [routerLink]="['/', 'component-b']"
    [routerLinkActive]="'active-route'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Page B
  </button>
  <button
    [routerLink]="['/', 'component-c']"
    [routerLinkActive]="'active-route'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Page C
  </button>
</div>
<router-outlet></router-outlet>
